.ColorBox {
  width: 20%;
  height: 25%;
  cursor: pointer;
  position: relative;
  text-transform: uppercase;
}

.ColorBox-copy {
  position: absolute;
  width: 5rem;
  height: 2rem;
  margin: -1rem 0 0 -2.5rem;
  top: 50%;
  left: 50%;
  background: rgba(255, 255, 255, 0.25);
  border: none;
  outline: none;
  font-family: inherit;
  font-weight: bold;
  color: white;
  text-transform: inherit;
  transition: all 0.3s ease;
  opacity: 0;
  cursor: pointer;
}

.ColorBox:hover .ColorBox-copy {
  opacity: 1;
}

.ColorBox-name {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0.3rem;
  font-size: 0.7rem;
  letter-spacing: 0.1rem;
}

.ColorBox-more {
  position: absolute;
  bottom: 0;
  right: 0;
  color: white;
  background-color: rgba(255, 255, 255, 0.25);
  padding: 0.3rem;
  font-size: 0.8rem;
}

.ColorBox-overlay-bg {
  width: 100%;
  height: 100%;
  opacity: 0;
  transform: scale(0.1);
  transition: transform 0.6s ease-in-out;
  z-index: 0;
}

.ColorBox-overlay-bg.show {
  position: absolute;
  opacity: 1;
  transform: scale(50);
  z-index: 1;
}

.ColorBox-overlay-text {
  position: fixed;
  top: 40%;
  left: -200%;
  text-align: center;
  color: white;
  width: 500%;
  z-index: 0;
  opacity: 0;
  transform: scale(0.1);
}

.ColorBox-overlay-text h3 {
  font-size: 4rem;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.25);
  margin: 0;
  padding: 1rem;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
}

.ColorBox-overlay-text p {
  font-weight: 200;
  font-size: 1.5rem;
}

.ColorBox-overlay-text.show {
  transition: all 0.6s ease-in-out 0s;
  z-index: 2;
  transform: scale(1);
  opacity: 1;
}
