.NavBar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 5%;
}

.NavBar-logo {
  margin-right: 2rem;
  padding: 0 2rem;
  font-size: 1.2rem;
  background-color: #eceff1;
  height: 100%;
  display: flex;
  align-items: center;
}

.NavBar-logo a {
  text-decoration: none;
  color: rgb(46, 46, 46);
  font-weight: bold;
}

.NavBar-slider-container span {
  font-size: 0.9rem;
  font-weight: bold;
  color: rgb(94, 94, 94);
}

.NavBar-slider {
  width: 15rem;
  margin-right: 2rem;
  display: inline-block;
}

.rc-slider-track {
  background-color: transparent;
}

.rc-slider-rail {
  height: 0.5rem;
}

.rc-slider-handle,
.rc-slider-handle:active,
.rc-slider-handle:focus,
.rc-slider-handle:hover {
  background-color: rgb(68, 145, 128);
  outline: none;
  border: 2px solid rgb(68, 145, 128);
  box-shadow: none;
  width: 1rem;
  height: 1rem;
  margin-left: -11px;
  margin-top: -4px;
}
