.ScoreTable {
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
  background-color: white;
  padding: 0 1em 1em 1em;
  width: 90%;
}

.ScoreTable table {
  margin: 0 auto;
  width: 100%;
}

.ScoreTable-section {
  vertical-align: top;
  width: 100%;
}

.ScoreTable-section-total {
  margin: 2rem 0;
}

.ScoreTable-section h2 {
  margin: 1rem 0;
}
