.Deck {
  background-color: teal;
  text-align: center;
  height: 100vh;
}

.Deck-title {
  padding-top: 2em;
  font-size: 1.4em;
  margin: 0;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.5em;
}

.Deck-button {
  margin-top: 2em;
  padding: 2em;
  background-color: transparent;
  border: 1px solid white;
  font-size: 1.1em;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  font-family: 'Slabo 27px', serif;
  transition: all 0.25s;
  outline: none;
}

.Deck-button:not([disabled]):hover {
  background-color: white;
  color: teal;
  border: 1px solid transparent;
}

.Deck-cards {
  margin: 4em;
}
