.DadJokes {
  max-width: 1000px;
  max-height: 600px;
  margin: auto;
  display: flex;
  overflow: visible;
}

@media (max-width: 992px) {
  .DadJokes {
    flex-direction: column;
    max-width: 95vw;
    max-height: 95vh;
  }
}
