.Header {
  background-color: #8b69c6;
  width: 260px;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: 'Mali', cursive;
  box-shadow: 0 8px 6px -6px black;
}

.Header-button {
  margin: 0.67em 0;
  outline: none;
  border: none;
  background: linear-gradient(135deg, #abe1fc 0%, #abe1fc 50%, rgb(240, 98, 146) 50%, rgb(240, 98, 146) 100%);
  padding: 1em;
  color: white;
  font-size: 1.2em;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 1em;
  font-family: inherit;
  box-shadow: 0 8px 6px -6px black;
  transition: all 0.2s;
}

.Header-title {
  color: white;
  font-size: 3rem;
  margin: 0;
}

.Header-title-top {
  font-family: 'Libre Baskerville';
  text-transform: uppercase;
  display: block;
}

.Header-button:hover {
  cursor: pointer;
  transform: translateY(-0.1em);
}

.Header-button[disabled] {
  background: none;
  background-color: grey;
  cursor: not-allowed;
  color: white;
}

.Header-icon {
  box-shadow: 0 -8px 6px -6px black;
  border-radius: 50%;
  padding: 1.5rem;
  margin: 1.5rem;
}

.Header-icon:hover {
  cursor: default;
  animation: wobble 0.6s ease infinite;
}

@keyframes wobble {
  0% {
    -webkit-transform: translate(3px, 2px) rotate(0deg);
  }
  10% {
    -webkit-transform: translate(-2px, -3px) rotate(-2deg);
  }
  20% {
    -webkit-transform: translate(-4px, 0px) rotate(2deg);
  }
  30% {
    -webkit-transform: translate(0px, 3px) rotate(0deg);
  }
  40% {
    -webkit-transform: translate(2px, -2px) rotate(2deg);
  }
  50% {
    -webkit-transform: translate(-2px, 3px) rotate(-2deg);
  }
  60% {
    -webkit-transform: translate(-4px, 2px) rotate(0deg);
  }
  70% {
    -webkit-transform: translate(3px, 2px) rotate(-2deg);
  }
  80% {
    -webkit-transform: translate(-2px, -2px) rotate(2deg);
  }
  90% {
    -webkit-transform: translate(3px, 3px) rotate(0deg);
  }
  100% {
    -webkit-transform: translate(2px, -3px) rotate(-2deg);
  }
}
