.Header {
  background-color: #8b69c6;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: 'Mali', cursive;
  box-shadow: 0 8px 6px -6px black;
}

.Header-button {
  margin: 0.67em 0;
  outline: none;
  border: none;
  background-color: #2fbaff;
  padding: 1em;
  color: white;
  font-size: 1.2em;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 1em;
  font-family: inherit;
  box-shadow: 0 8px 6px -6px black;
}

.Header-title {
  color: white;
}

.Header-button:hover {
  cursor: pointer;
  color: #2fbaff;
  background-color: white;
}

.Header-button[disabled] {
  background-color: grey;
  cursor: not-allowed;
}

.Header-icon {
  box-shadow: 0 -8px 6px -6px black;

  border-radius: 50%;
  font-size: 5em;
  /* text-shadow: 0 0 0.2em black; */
}
