.Header {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.Header-button {
  margin: 0.67em 0;
  outline: none;
  border: none;
  background-color: blue;
  padding: 1em;
  color: white;
  font-size: 1.2em;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 1em;
  font-family: inherit;
}

.Header-button:hover {
  cursor: pointer;
  background-color: lightblue;
}

.Header-button[disabled] {
  background-color: grey;
  cursor: not-allowed;
}

.Header-icon {
  border-radius: 50%;
  font-size: 5em;
  text-shadow: 0 0 0.2em black;
}
