.JokeList {
  width: 800px;
  height: 550px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: white;
  overflow-y: auto;
  margin: 2em 0;
  font-size: 0.9em;
  font-family: 'Raleway', sans-serif;
  box-shadow: 0 8px 6px -6px black;
}

@media (max-width: 992px) {
  .JokeList {
    width: 100%;
    height: auto;
    margin-top: 0;
  }
}
