.JokeList {
  width: 100%;
  background-color: white;
  overflow-y: auto;
  padding-right: 17px;
  margin: 2em 0;
  font-size: 0.9em;
  font-family: 'Raleway', sans-serif;
  box-shadow: 0 8px 6px -6px black;
}
