.Joke {
  padding: 0.5em 1em;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  text-align: start;
}

.Joke-text {
  /* text-align: center; */
}

.Joke-left {
  min-width: 100px;
}

.Joke-arrow {
  font-size: 1.5em;
  color: grey;
  background: none;
  border: none;
  outline: none;
}

.Joke-arrow-up:hover {
  cursor: pointer;
  animation: move-up 0.7s ease-out;
  color: #8bc34a;
}

.Joke-arrow-down:hover {
  cursor: pointer;
  animation: move-down 0.7s ease-out;
  color: #f44336;
}

.Joke-rating {
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: bottom;
  display: inline-block;
  border-radius: 50%;
  text-align: center;
  background-color: white;
  box-shadow: 4px 5px 19px -5px rgba(0, 0, 0, 0.45);
  font-weight: bold;
}

.Joke-emoji {
  font-size: 2em;
  margin-left: auto;
  margin-right: 0;
  justify-self: flex-end;
  transition: transform 0.8s ease-in-out;
}

.Joke-emoji:hover {
  transform: rotate(360deg);
  cursor: default;
}

.Joke-emoji-roll {
  animation: spin 1s infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes move-up {
  0%,
  50%,
  100% {
    transform: translateY(0);
  }
  25%,
  75% {
    transform: translateY(-3px);
  }
}

@keyframes move-down {
  0%,
  50%,
  100% {
    transform: translateY(0);
  }
  25%,
  75% {
    transform: translateY(3px);
  }
}
