.Joke {
  padding: 0.5em 1em;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  /* justify-content: flex-start; */
}

.Joke-left {
  width: 100px;
}

.Joke-arrow {
  font-size: 1.5em;
  color: grey;
  background: none;
  border: none;
  outline: none;
}

.Joke-arrow:hover {
  /* transform: translate(-1px, -1px); */
  color: black;
  cursor: pointer;
}

.Joke-rating {
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: bottom;
  display: inline-block;
  border-radius: 50%;
  text-align: center;
  background-color: white;
}

.Joke-rating-inside {
}

.Joke-text {
  /* vertical-align: middle; */
}

.Joke-emoji {
  font-size: 2em;
  /* vertical-align: middle; */
  margin-left: auto;
  margin-right: 0;
  justify-self: flex-end;
  transition: transform 0.8s ease-in-out;
}

.Joke-emoji:hover {
  transform: rotate(360deg);
  cursor: default;
}
