.RollDice {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-evenly; */
  height: 100vh;
}

.RollDice button {
  margin: 2rem;
  padding: 2rem;
  text-transform: uppercase;
  background-color: #173f5f;
  color: white;
  border: 0;
  font-weight: bold;
  font-size: 1.5rem;
  border-radius: 1rem;
  outline: none;
  width: 20rem;
}

.RollDice button:hover {
  background-color: #20639b;
  cursor: pointer;
}

.RollDice button:disabled {
  background-color: #173f5f;
  cursor: default;
}
