.Cell {
  height: 100px;
  width: 100px;
  background-color: #161113;
  transition: background-color 0.25s;
  border-radius: 3px;
}

@media (max-width: 576px) {
  .Cell {
    height: 50px;
    width: 50px;
  }
}

.Cell-lit {
  background-color: #fcebf5;
}
