.Dog {
  margin: 4em 0 auto 0;
  align-self: center;
  width: 40em;
  max-width: 90%;
  max-height: 90%;
}

.Dog-inner {
  display: flex;
  flex-direction: column;
  background-color: rgb(250, 253, 255);
  box-shadow: 10px 10px 50px -15px rgba(0, 0, 0, 0.2);
  margin-bottom: 1.5em;
}

.Dog-img {
  height: 40em;
  width: 100%;
  object-fit: cover;
}

.Dog-description {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.Dog-description-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Dog-name {
  margin-bottom: 0;
  padding-left: 0;
  font-weight: 200;
}
.Dog-age {
  margin-top: 0;
  padding-left: 0;
}

.Dog-facts {
  text-align: left;
  list-style-type: none;
  padding: 0;
}

.Dog-fact {
  padding: 0.3em 0;
  border-bottom: 1px dashed grey;
}

.Dog-button {
  padding: 1em;
  background: rgb(255, 208, 0);
  font-family: inherit;
  border: none;
  outline: none;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.05s linear;
}

.Dog-button:hover {
  transform: scale(1.05);
}

@media (max-width: 576px) {
  .Dog {
    margin: 2em 0 auto 0;
  }
  .Dog-img {
    max-height: 60vh;
  }
  .Dog-description {
    flex-direction: column;
  }
  .Dog-description-left {
    flex-direction: row;
  }
  .Dog-name {
    margin: 0.7rem 1rem 0 1rem;
    padding: 0.7rem 1rem 0 1rem;
    display: inline-block;
  }
  .Dog-age {
    margin: 0.7rem 1rem 0 1rem;
    padding: 0.7rem 1rem 0 1rem;
    display: inline-block;
  }
  .Dog-button {
    margin: 1rem 0.5rem 1.5rem 0.5rem;
  }
}
