.Dogs {
  display: flex;
  flex-direction: column;
  min-height: 95vh;
  justify-content: space-between;
}

.Dogs-dogs {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.Dogs-img {
  margin-top: 1em;
  max-height: 30em;
  max-width: 90vw;
  box-shadow: 10px 10px 50px -15px rgba(0, 0, 0, 0.2);
  transition: all 0.5s ease;
  filter: grayscale();
}

.Dogs-dog:hover .Dogs-img {
  filter: none;
  transform: scale(1.01);
}

.Dogs-title {
  color: rgb(88, 88, 88);
  font-weight: 200;
  font-size: 5em;
  margin: 0;
  padding: 0.2em 0;
  border-bottom: 3px solid rgb(255, 208, 0);
}

.Dogs a {
  text-decoration: none;
}

.Dogs-dogname {
  margin-top: 2em;
  color: rgb(65, 65, 65);
  letter-spacing: 0.2em;
  border-bottom: 2px solid transparent;
  transition: all 0.5s ease;
}

.Dogs-dog:hover .Dogs-dogname {
  color: rgb(65, 65, 65);
  letter-spacing: 0.2em;
  border-bottom: 2px solid rgb(255, 208, 0);
}
