@import url('https://fonts.googleapis.com/css?family=Montserrat:200,400,700&display=swap');

body {
  font-family: 'Montserrat', sans-serif;

  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
